body {
  background-image: url('assets/wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-style: oblique;
}
